html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(182, 216, 255);
  text-align: center;
}

.alert {
  background-color: red;
  padding: 10px;
}

.masonry {
  column-count: 3;
  column-gap: 0em;
}

.card {
  background-color: white;
  width: 90%;
  padding: 2.5%;
  margin: 2.5%;
  display: inline-block;
}

img {
  width: 100%;
}